:root {
  --white: #ffffff;
  --active: #2196f3;
  --black: #000000;
  --primary-text: #212121;
  --secondary-text: #757575;
  --gray-bgc: #f5f4fa;
  --mailito: rgba(255, 255, 255, 0.6);
  --ftr-bcg: #2f303a;
  
}
body {
  color: var(--primary-text);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

/* убирает маркеры*/
li {
  list-style: none;
}

/* убирает подчеркивание*/
a {
  text-decoration: none;
}

/* цвет основного текста 212121 */
/* вторичный цвет текста 757575 */
/* цвет логотипа 000000; 2196F3 */
/* белый цвет FFFFFF */
/* цвет адреса FFFFFF 0.6 */
/* background color E5E5E5 */
/* background header FFFFFF */
/* second background color F5F4FA */
/* background footer 2F303A */

/* лого */

.logo > span {
  color: var(--active);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo {
  color: var(--black);

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo:hover,
.logo:focus {
  color: var(--active);
}

/* site-nav */
.site-nav .current {color var(--active)}

.site-nav .link 
{ color: var(--primary-text);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--active);
}
.site-nav .link.current {
  color: var(--active);
}


/*адрес*/
.auth-nav .link {
  color: var(--secondary-text);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--active);
}

/*герой*/
.hero {
  background-color: var(--ftr-bcg);
}
.hero-title {
  color: var(--white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
/* button*/
.button {
  color: var(--white);
  background-color: var(--active);
  border-color: var(--active);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
}

/*секция*/
.section-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section .section-text {
  color: var(--secondary-text);
  font-size: 14px;
  line-height: 1.71;
}

.gallery > h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/*команда*/
.team-section {background-color: var(--gray-bgc)}
.team-section h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;}
.people list {
  background-color: var(--gray-bgc);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.people-prof {
  color: var(--secondary-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

/*футер*/
.logo > span {
  color: var(--active);
}
.logo .logo-white {
  color: var(--white);

}
/*адрес*/
.address {
  color: var(--white);
  font-size: 14px;
  line-height: 1.71;
}
.address > a {color: rgba(255, 255, 255, 0.6);}
.address > a:hover,
.address > a:focus { color: var(--active);}

footer {
  background-color: var(--ftr-bcg);
}
.pictures {
  color: var(--primary-text);
}
.filter-button { color: var(--primary-text);
  background-color: var(--gray-bgc);
border-color: var(--gray-bgc);}
.filter-button:hover,
.filter-button:focus {
  color: var(--active);
}
.filter-button:active {
  background-color: var(--active);
  color: var(--white);
}

button {
  font-family: inherit;
}
